/* stylesheet for The Pork Shop website */
/*--Heather Watterson 7 October 2015 Small Business Assignment 2--*/

#pageHeader {

    height: 400px;
    background-image: url("Images/porkShopLogo.jpg");
    width: 800px;
    margin-left: 10em;
}
#secondary{
    height: 50px;
    width: 800px;
    align-content: center;
    text-align: center;
    margin-left: 10em;
}

.intro{
    align-content: center;
    width: 800px;
    padding: 10px;
}
h1 {color: darkblue}


ul.navbar {
    list-style-image: url('Images/pork.jpg');
    position: absolute;
    top: 30em;
    left: 2em;
    width: 7em;
    background-color: #F8F8FF;
}
#menu {
    margin-top: 10px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: auto;
    float: left;
    padding: 5px;
    width: 600px;
    border: none;
    background-color: azure;
}
aside{
    font-size: larger;
    position: fixed;
    width : 200px;
    padding: 5px;
    border: dashed darkblue 5px;
    background-color: lightgray;
}


.food{
    font-size: larger;
    color: red;
}
#porkzilla{

    margin: 5px;
    margin-top: 10px;
}
#meatloaf{
    margin: 5px;
    margin-top: 10px;
}
#steak{
    float: right;
    margin: 5px;
    margin-top: 10px;
    margin-right: 300px;
}

 .schedule {
    width: 100%;
    background-color: beige;
    border-collapse: collapse;
    padding: 5px;
}
th{
    background-color: cornflowerblue;
    border: 2px solid blue;
    font-weight: bolder;
}

tr td{
    border: solid 2px blue;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: aliceblue;
    padding-left: 11em;}
p {word-wrap: normal }

#links{
    list-style-image: url('Images/pork.jpg');
    font-size: x-large;
    text-transform: uppercase;
}

span{
    color: red;
    font-size: larger;
}
